
web_source/.gradle/8.2/checksums/checksums.lock
web_source/.gradle/8.2/executionHistory/executionHistory.bin
web_source/.gradle/8.2/executionHistory/executionHistory.lock
web_source/.gradle/8.2/fileHashes/fileHashes.bin
web_source/.gradle/8.2/fileHashes/fileHashes.lock
web_source/.gradle/8.2/fileHashes/resourceHashesCache.bin
web_source/.gradle/buildOutputCleanup/buildOutputCleanup.lock
web_source/.gradle/buildOutputCleanup/outputFiles.bin
web_source/.gradle/file-system.probe
web_source/.idea/misc.xml
web_source/.idea/sqldialects.xml
web_source/.idea/workspace.xml
web_source/build/classes/java/main/controller/GameServlet.class
web_source/build/classes/java/main/repository/GameRepository.class
web_source/build/classes/java/main/repository/IGameRepository.class
web_source/build/classes/java/main/service/GameService.class
web_source/build/classes/java/main/service/IGameService.class
web_source/build/libs/case_study-1.0-SNAPSHOT.war
web_source/build/tmp/compileJava/previous-compilation-data.bin
